:host {
  display: block;
  box-sizing: border-box;
  height: fit-content;
  padding-inline: var(--orb-spacing-sm);
  border-left: solid 1px
    light-dark(var(--orb-neutral-400), var(--orb-neutral-800));
  flex-shrink: 0;
}
