:host {
  display: inline-flex;
  align-items: center;
  gap: var(--je-spacing-2xs);
  width: fit-content;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  outline-color: var(--je-primary-200);
  outline-offset: 2px;
  box-sizing: border-box;
}

je-icon {
  color: light-dark(var(--je-primary-500), var(--je-primary-200));
}

:host([disabled]) {
  opacity: 0.6;
  cursor: not-allowed;
}
