:host {
  display: inline-flex;
  align-items: center;
  gap: var(--orb-spacing-2xs);
  width: fit-content;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  outline-color: var(--orb-primary-200);
  outline-offset: 2px;
  box-sizing: border-box;
}

svg {
  color: light-dark(var(--orb-primary-500), var(--orb-primary-200));
}

:host([disabled]) {
  opacity: 0.6;
  cursor: not-allowed;
}
