:host {
  display: contents;
}

nav {
  display: flex;
  align-items: center;

  color: light-dark(var(--je-neutral-600), var(--je-neutral-400));
  font-weight: var(--je-font-semi-bold);
  font-size: var(--je-font-sm);
  line-height: var(--je-spacing-lg);
}

::slotted(je-breadcrumb:last-child) {
  color: light-dark(var(--je-primary-700), var(--je-primary-200));
}

::slotted(:not(:last-child))::after {
  content: "pen_size_1";
  display: inline-flex;
  transform: rotate(-15deg);
  cursor: inherit;
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: var(--je-font-lg);
  line-height: unset;
  letter-spacing: normal;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 20;
  color: light-dark(var(--je-neutral-300), var(--je-neutral-700));
}

::slotted(button.collapse) {
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: var(--je-font-lg);
  line-height: unset;
  letter-spacing: normal;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 20;
  border: none;
  margin: 0;
  padding: 0;
}
