:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 300px;
  border: 1px dashed canvastext;
  transition: border-color 250ms, background-color 250ms;
}

:host(.hover) {
  border-color: var(--je-primary-500);
  background-color: light-dark(var(--je-neutral-100), var(--je-neutral-900));
}
