:host {
  display: inline-flex;
  font-weight: var(--orb-font-light);
  color: light-dark(var(--orb-neutral-700), var(--orb-neutral-400));
  font-size: var(--orb-font-sm);
  gap: var(--orb-spacing-2xs);
}

:host([invalid]) {
  color: light-dark(var(--orb-danger-400), var(--orb-danger-300));
}
