:host {
  display: inline-flex;
  font-weight: var(--je-font-light);
  color: light-dark(var(--je-neutral-700), var(--je-neutral-400));
  font-size: var(--je-font-sm);
  gap: var(--je-spacing-2xs);
}

:host([invalid]) {
  color: light-dark(var(--je-danger-400), var(--je-danger-300));
}
