:host {
  display: inline-flex;
  font-weight: var(--orb-font-semi-bold);
  color: light-dark(var(--orb-neutral-800), var(--orb-neutral-250));
  font-size: var(--orb-font-md);
  gap: var(--orb-spacing-2xs);
  cursor: inherit;
}

:host([required])::after {
  content: "*";
  color: light-dark(var(--orb-danger-400), var(--orb-danger-300));
  font-weight: var(--orb-font-semi-bold);
  font-size: var(--orb-font-md);
}
