:host {
  /**
   * @prop --background: background color
   * @prop --shimmer-color: color of the shimmer animation
   */
  --background: #c7c7c7c5;
  --shimmer-color: #ffffff;

  border-radius: var(--je-radius-sm);
  display: block;
  box-sizing: border-box;
  background: var(--background);
  user-select: none;
  pointer-events: none;
  opacity: 0.7;
}

:host(:not([animated=false])) {
  position: relative;
  background: linear-gradient(90deg, var(--background) 25%, var(--shimmer-color) 50%, var(--background) 75%);
  background-size: 200% 100%;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}
