:host {
  display: contents;
  --color: light-dark(var(--orb-primary-500), var(--orb-primary-300));
  --visited-color: light-dark(var(--orb-primary-600), var(--orb-primary-400));
}

a {
  display: inline-flex;
  color: var(--color);
  text-decoration: none;
  outline-color: var(--orb-primary-300);
  outline-offset: 3px;
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: var(--orb-font-semi-bold);
}
