:host {
  box-sizing: border-box;
  display: block;
  padding: var(--orb-spacing-sm);
  box-shadow: var(--orb-shadow-sm);
  border: 1px solid light-dark(transparent, var(--orb-neutral-800));
  background-color: light-dark(white, var(--orb-neutral-900));
  border-radius: var(--orb-radius-md);
  overflow: hidden;
}

:host([color="primary"]) {
  color: var(--orb-neutral-75);
  background-color: var(--orb-primary-500);
  border-color: transparent;
}

:host([color="success"]) {
  color: var(--orb-neutral-925);
  background-color: var(--orb-success-500);
  border-color: transparent;
}

:host([color="warning"]) {
  color: var(--orb-neutral-925);
  background-color: var(--orb-warning-500);
  border-color: transparent;
}

:host([color="danger"]) {
  color: var(--orb-neutral-75);
  background-color: var(--orb-danger-500);
  border-color: transparent;
}
