:host {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  flex-shrink: 0;
  padding-block: 0;
  padding-inline: var(--orb-spacing-sm);
  margin: 0;
  border: none;
  outline-color: var(--orb-primary-200);
  outline-offset: 2px;
  background-color: inherit;
  color: inherit;
  box-sizing: border-box;
  transition: all 75ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
}

:host(:not(:first-of-type)) {
  border: solid 1px light-dark(var(--orb-neutral-300), var(--orb-neutral-700));
  border-left: 0;
}

:host(:first-of-type) {
  border: solid 1px light-dark(var(--orb-neutral-300), var(--orb-neutral-700));
}

:host([aria-checked="true"]) {
  background-color: light-dark(var(--orb-primary-500), var(--orb-primary-200));
  color: light-dark(var(--orb-neutral-50), var(--orb-neutral-900));
  border-color: light-dark(var(--orb-primary-500), var(--orb-primary-200));
}

:host(:first-of-type) {
  border-top-left-radius: var(--orb-radius-md);
  border-bottom-left-radius: var(--orb-radius-md);
}

:host(:last-of-type) {
  border-top-right-radius: var(--orb-radius-md);
  border-bottom-right-radius: var(--orb-radius-md);
}
