$spacing: (
  3xs: 0.125rem,
  2xs: 0.25rem,
  xs: 0.5rem,
  sm: 0.75rem,
  md: 1rem,
  lg: 1.25rem,
  xl: 1.5rem,
  2xl: 2rem,
  3xl: 2.5rem
);

@mixin classes($property) {
  @each $name, $value in $spacing {
    @if $name == md {
      .orb-#{$property} { #{$property}: var(--orb-spacing-#{$name}); }
      .orb-#{$property}-top { #{$property}-top: var(--orb-spacing-#{$name}); }
      .orb-#{$property}-right { #{$property}-right: var(--orb-spacing-#{$name}); }
      .orb-#{$property}-bottom { #{$property}-bottom: var(--orb-spacing-#{$name}); }
      .orb-#{$property}-left { #{$property}-left: var(--orb-spacing-#{$name}); }
      .orb-#{$property}-horizontal { #{$property}-inline: var(--orb-spacing-#{$name}); }
      .orb-#{$property}-vertical { #{$property}-block: var(--orb-spacing-#{$name}); }
    } @else {
      .orb-#{$property}-#{$name} { #{$property}: var(--orb-spacing-#{$name}); }
      .orb-#{$property}-top-#{$name} { #{$property}-top: var(--orb-spacing-#{$name}); }
      .orb-#{$property}-right-#{$name} { #{$property}-right: var(--orb-spacing-#{$name}); }
      .orb-#{$property}-bottom-#{$name} { #{$property}-bottom: var(--orb-spacing-#{$name}); }
      .orb-#{$property}-left-#{$name} { #{$property}-left: var(--orb-spacing-#{$name}); }
      .orb-#{$property}-horizontal-#{$name} { #{$property}-inline: var(--orb-spacing-#{$name}); }
      .orb-#{$property}-vertical-#{$name} { #{$property}-block: var(--orb-spacing-#{$name}); }
    }
  }
  .orb-no-#{$property} { #{$property}: 0 !important; }
  .orb-no-#{$property}-top { #{$property}-top: 0 !important; }
  .orb-no-#{$property}-right { #{$property}-right: 0 !important; }
  .orb-no-#{$property}-bottom { #{$property}-bottom: 0 !important; }
  .orb-no-#{$property}-left { #{$property}-left: 0 !important; }
  .orb-no-#{$property}-horizontal { #{$property}-inline: 0 !important; }
  .orb-no-#{$property}-vertical { #{$property}-block: 0 !important; }
}
