:host {
  display: contents;

  --padding: var(--je-spacing-xs) var(--je-spacing-sm);
  --background: light-dark(var(--je-neutral-950), var(--je-neutral-800));
  --color: var(--je-neutral-300);
  --border: none;
  --radius: var(--je-radius-md);
}

[popover] {
  opacity: 0;
  transition: opacity 0.2s ease-in-out, display 0.2s ease-in-out allow-discrete;
  box-shadow: var(--je-shadow-sm);
  max-width: var(--available-width);
  max-height: var(--available-height);
  border-radius: var(--radius);
  border: var(--border);
  font-family: inherit;
  background-color: var(--background);
  color: var(--color);
  box-sizing: border-box;
  padding: var(--padding);
  margin: 0;
}

[popover]:popover-open {
  opacity: 1;
}

@starting-style {
  [popover]:popover-open {
    opacity: 0;
  }
}
