:host {
  display: flex;
  position: relative;
  box-sizing: border-box;
  z-index: 0;
  gap: var(--je-spacing-3xs);
  align-items: center;
  padding: var(--je-spacing-3xs) var(--je-spacing-2xs);
  user-select: none;
  -webkit-user-select: none;
  border-radius: var(--je-border-radius);
  transition: color 250ms ease;
  cursor: pointer;
}

::slotted(*) {
  cursor: pointer;
}

:host(:state(--active)) {
  color: var(--je-neutral-500);
}
