je-button-group {
  display: flex;
  width: fit-content;

  & > je-button,
  & > * > je-button {
    &[color][fill=solid]:not(.__last)::part(inner-button) {
      border-right-color: currentColor;
    }

    &::part(inner-button) {
      border-radius: 0;
      border-left: none;
    }

    &.__first::part(inner-button) {
      border-left: solid 1px var(--border-color, transparent);
      border-top-left-radius: var(--je-radius-md);
      border-bottom-left-radius: var(--je-radius-md);
    }

    &.__last::part(inner-button) {
      border-top-right-radius: var(--je-radius-md);
      border-bottom-right-radius: var(--je-radius-md);
    }
  }
}


