:host {
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  --base-background: light-dark(var(--orb-neutral-25), var(--orb-neutral-900));
  --tabs-background: light-dark(var(--orb-neutral-125), var(--orb-neutral-875));
  --toolbar-background: light-dark(
    var(--orb-neutral-175),
    var(--orb-neutral-825)
  );
  --tab-border: light-dark(var(--orb-neutral-400), var(--orb-neutral-950));
}

[name="tabs"] {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  background-color: var(--toolbar-background);
}

[name="panels"] {
  display: block;
  box-sizing: border-box;
  padding: var(--orb-spacing-lg);
  background-color: var(--base-background);
}
