/**
 * @prop --height: Fixed height
 * @prop --font-size: Font size
 * @prop --padding-inline: Inner inline padding
 * @prop --color: Text color
 * @prop --background: Default background color
 * @prop --hover-background: Hovered background color
 * @prop --active-background: Pressed background color
 */

:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  position: relative;
  box-sizing: border-box;
  border-radius: var(--orb-radius-md);
  margin: 0;
  padding: 0 var(--padding-inline);
  cursor: pointer;
  flex-shrink: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  text-transform: capitalize;
  text-wrap: wrap;
  font-family: inherit;
  font-size: var(--font-size);
  font-weight: var(--orb-font-semi-bold);
  height: var(--height);
  color: var(--color, inherit);
  background-color: var(--background, transparent);
  transition: all var(--orb-transition-fast) ease-in-out;
  outline-color: var(--orb-primary-300);
  outline-offset: 3px;
}

:host([size="xs"]) {
  --height: 1.5rem;
  --padding-inline: var(--orb-spacing-xs);
  --font-size: var(--orb-font-xs);
}

:host([size="sm"]) {
  --height: 2rem;
  --padding-inline: var(--orb-spacing-sm);
  --font-size: var(--orb-font-sm);
}

:host([size="md"]) {
  --height: 2.5rem;
  --padding-inline: var(--orb-spacing-md);
  --font-size: var(--orb-font-md);
}

:host([size="lg"]) {
  --height: 3rem;
  --padding-inline: var(--orb-spacing-lg);
  --font-size: var(--orb-font-lg);
}

:host(.icon-only) {
  --padding-inline: 0;
  --size: calc(var(--height) - 0.5rem);
  width: var(--size);
  height: var(--size);
  border-radius: var(--orb-radius-circle);
}

:host([expand]) {
  width: 100%;
}

:host([aria-disabled="true"]) {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}

:host([aria-disabled="true"][pending]) {
  opacity: 0.8;
  cursor: progress;
  width: var(--pending-width);
}

:host(:not([color])[fill="solid"]) {
  --color: light-dark(var(--orb-neutral-75), var(--orb-neutral-925));
  --background: light-dark(var(--orb-neutral-950), var(--orb-neutral-200));
  --hover-background: light-dark(
    var(--orb-neutral-850),
    var(--orb-neutral-300)
  );
  --active-background: light-dark(
    var(--orb-neutral-800),
    var(--orb-neutral-400)
  );
}

:host([color="primary"][fill="solid"]) {
  --color: var(--orb-neutral-75);
  --background: var(--orb-primary-500);
  --hover-background: var(--orb-primary-550);
  --active-background: var(--orb-primary-600);
}

:host([color="success"][fill="solid"]) {
  --color: var(--orb-neutral-925);
  --background: var(--orb-success-500);
  --hover-background: var(--orb-success-550);
  --active-background: var(--orb-success-600);
}

:host([color="warning"][fill="solid"]) {
  --color: var(--orb-neutral-925);
  --background: var(--orb-warning-500);
  --hover-background: var(--orb-warning-550);
  --active-background: var(--orb-warning-600);
}

:host([color="danger"][fill="solid"]) {
  --color: var(--orb-neutral-75);
  --background: var(--orb-danger-500);
  --hover-background: var(--orb-danger-450);
  --active-background: var(--orb-danger-400);
}

:host(:not([color]):not([fill="solid"])) {
  --color: light-dark(var(--orb-neutral-925), var(--orb-neutral-75));
  --background: transparent;
  --hover-background: light-dark(
    var(--orb-neutral-100),
    var(--orb-neutral-850)
  );
  --active-background: light-dark(
    var(--orb-neutral-150),
    var(--orb-neutral-800)
  );
  --border: solid 1px light-dark(var(--orb-neutral-300), var(--orb-neutral-750));
}

:host([color="primary"]:not([fill="solid"])) {
  --color: light-dark(var(--orb-primary-500), var(--orb-primary-250));
  --background: transparent;
  --hover-background: light-dark(var(--orb-primary-50), var(--orb-primary-800));
  --active-background: light-dark(
    var(--orb-primary-75),
    var(--orb-primary-750)
  );
  --border: solid 1px light-dark(var(--orb-primary-100), var(--orb-primary-500));
}

:host([color="success"]:not([fill="solid"])) {
  --color: light-dark(var(--orb-success-750), var(--orb-success-500));
  --background: transparent;
  --hover-background: light-dark(
    var(--orb-success-100),
    var(--orb-success-900)
  );
  --active-background: light-dark(
    var(--orb-success-150),
    var(--orb-success-850)
  );
  --border: solid 1px light-dark(var(--orb-success-200), var(--orb-success-800));
}

:host([color="warning"]:not([fill="solid"])) {
  --color: light-dark(var(--orb-warning-750), var(--orb-warning-500));
  --background: transparent;
  --hover-background: light-dark(
    var(--orb-warning-100),
    var(--orb-warning-900)
  );
  --active-background: light-dark(
    var(--orb-warning-150),
    var(--orb-warning-850)
  );
  --border: solid 1px light-dark(var(--orb-warning-200), var(--orb-warning-800));
}

:host([color="danger"]:not([fill="solid"])) {
  --color: light-dark(var(--orb-danger-500), var(--orb-danger-250));
  --background: transparent;
  --hover-background: light-dark(var(--orb-danger-50), var(--orb-danger-800));
  --active-background: light-dark(var(--orb-danger-75), var(--orb-danger-750));
  --border: solid 1px light-dark(var(--orb-danger-100), var(--orb-danger-500));
}

:host([fill="outline"]) {
  border: var(--border);
}

@media (hover: hover) {
  :host(:hover) {
    background-color: var(--hover-background, var(--background, transparent));
    color: var(--hover-color, var(--color, inherit));
  }
}

:host(:active) {
  background-color: var(--active-background, var(--background, transparent));
  color: var(--active-color, var(--color, inherit));
}

::slotted([slot="badge"]) {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  transform: translate(50%, -50%);
  border-radius: var(--orb-radius-circle);
  box-sizing: border-box;
  color: light-dark(var(--orb-neutral-100), var(--orb-neutral-900));
  background-color: light-dark(var(--orb-neutral-900), var(--orb-neutral-100));
  padding: var(--orb-spacing-2xs);
  font-size: var(--font-size);
  display: flex;
  align-items: center;
  justify-content: center;
}
