:host {
  display: flex;
  align-items: center;
  gap: var(--orb-spacing-2xs);
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  outline-color: var(--orb-primary-200);
}

orb-icon {
  color: light-dark(var(--orb-primary-500), var(--orb-primary-200));
}
