:host {
  display: flex;
  align-items: center;
  gap: var(--je-spacing-2xs);
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  outline-color: var(--je-primary-200);
}

je-icon {
  color: light-dark(var(--je-primary-500), var(--je-primary-200));
}
