:host {
  display: block;
  box-sizing: border-box;
  position: relative;

  --selected-background: light-dark(
    var(--je-primary-50),
    var(--je-neutral-850)
  );
  --selected-color: light-dark(var(--je-primary-500), var(--je-primary-200));
  --indentation-color: light-dark(var(--je-neutral-400), var(--je-neutral-700));
  --indent: calc(1.25rem * var(--depth));
}

[part="chevron"] {
  box-sizing: border-box;
  height: 1rem;
  width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: light-dark(var(--je-neutral-800), var(--je-neutral-200));
  transition: rotate 250ms ease;
  rotate: 270deg;

  &.open {
    rotate: 360deg;
  }
}

[part="multi-icon"] {
  box-sizing: border-box;
  display: flex;
  height: 1rem;
  width: 1rem;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: solid 1px var(--selected-color);
  border-radius: var(--je-radius-sm);
  color: var(--selected-color);

  &.selected {
    background-color: var(--selected-color);
    color: var(--selected-background);
  }
}

.end-container {
  display: contents;
}

[part="content-container"] {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-radius: var(--je-radius-md);
  overflow: hidden;
  background-color: transparent;
  color: inherit;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  cursor: pointer;
  height: 2.25rem;
  padding-left: var(--indent);
  padding-right: 1.25rem;
  gap: 0.25rem;
  user-select: none;
  -webkit-user-select: none;
  z-index: 1;
  transition: all 75ms ease-in-out;
  outline-offset: -6px;
  outline-color: var(--je-primary-400);

  &.parent {
    padding-left: calc(var(--indent) - 1.25rem);
  }

  &:hover,
  &.selected:not(.multiple) {
    background-color: var(--selected-background);
  }

  &.selected:not(.multiple) {
    color: var(--selected-color);
  }
}

button,
a {
  box-sizing: border-box;
  flex: 1;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  cursor: inherit;
  text-decoration: none;
  font-size: var(--je-font-md);
  font-weight: var(--je-font-regular);
  line-height: var(--je-font-md);
  height: 100%;
  gap: 0.25rem;
}

[part="inner-branch-container"] {
  overflow: hidden;
  box-sizing: border-box;
}

[part="branch-container"] {
  position: relative;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 0fr;
  opacity: 0;
  transition: all 250ms ease-out;

  &.indentation::before {
    box-sizing: border-box;
    left: calc(var(--indent) - 0.75rem);
    display: block;
    content: "";
    position: absolute;
    background-color: var(--indentation-color);
    opacity: 0;
    width: 1px;
    transition: opacity 250ms ease-in-out;
    z-index: 2;
  }

  &.open {
    opacity: 1;
    grid-template-rows: 1fr;

    &.indentation::before {
      opacity: 1;
      height: 100%;
    }
  }
}
